<h1>All reviews</h1>

<p>There are <%= reviews.length %> reviews.</p>
<p>
  <a href="<%= newreviewPath %>">Create new review</a>
</p>

<div class="content">
  <div class="row">
    <% reviews.forEach(review => { %>
      <div class="col-3">
        <div class="card">
          <div class="card-content">
            Fullfilment offer: <%= review.fullfillment_offer %> stars <br/>
            Puntuallity: <%= review.puntuality %> stars<br/>
            Quality offered: <%= review.quality_offered %> stars
            <hr/>
            <a href="<%= review.trade_id %>">See review</a>
          </div>
          <div class="card-footer">
            <ul>
              <li class="button"><a href="<%= getShowPath(review) %>">Show</a></li>
              <li class="button"><a href="<%= getEditPath(review) %>">Edit</a></li>
            </ul>
          </div>
        </div>
      </div>
    <% }); %>
  </div>
</div>