<h1>All reviews</h1>

<p>There are <%= reviews.length %> reviews.</p>

<div class="content">
  <div class="row">
    <% reviews.forEach(review => { %>
      <div class="col-3">
        <div class="card">
          <div class="card-content">
            Fullfilment offer: <%= review.fullfillment_offer %> stars <br/>
            Puntuallity: <%= review.puntuality %> stars<br/>
            Quality offered: <%= review.quality_offered %> stars
            <hr/>
            <a href="<%= getShowPath(review) %>">See review</a>
            <% if (review.trade_id !== null) { %>
              <a href="<%= getTradePath(review) %>">See trade</a>
            <% } %>
          </div>
        </div>
      </div>
    <% }); %>
  </div>
</div>