<form class="crud" action="<%= submitPath %>" method="post" enctype="multipart/form-data">
    <% if (!item.isNewRecord) { %>
      <input type="hidden" name="_method" value="patch" />
    <% } %>
  <div class="center">
    <label for=model>
      <span>Model</span>
      <input class="form-centered" type="text" name="model" id="model" value="<%= item.model %>" />
    </label>
  </div>
  <div class="center">
    <label for="brand">
      <span>Brand</span>
      <input class="form-centered" type="text" name="brand" id="brand" value="<%= item.brand %>"/>
    </label>
  </div>
  <div class="center">
    <label for="aditional">
      <span>Aditional Information</span>
      <input class="form-centered" type="text" name="aditional" id="aditional" value="<%= item.aditional %>"/>
    </label>
  </div>
  <div class="center">
    <label for="state">
      <span>State</span>
      <input class="form-centered" type="text" name="state" id="state" value="<%= item.state %>"/>
    </label>
  </div>
  <div class="center">
    <label for="category">
      <span>Category</span>
      <input class="form-centered" type="text" name="category" id="category" value="<%= item.category %>"/>
    </label>
  </div>
  <div class="center">
    <label for="screenSize">
      <span>Screen Size (inches)</span>
      <input class="form-centered" type="number" step="0.1" name="screenSize" id="screenSize" value="<%= item.screenSize %>"/>
    </label>
    </div>
    <div class="center">
    <label for="image">
       <span>Image</span>
       <input type="file" name="image" id="image" value="<%= item.image %>" />
     </label>
    </div>
    <% if (item.isNewRecord) { %>
      <input type="hidden" name="publication_id" id="publication_id" value="<%=publication_id %>"/>
    <% } %>
    <div class="actions center">
      <input class="form-centered" type="submit" value="<%= item.isNewRecord ? 'Create' : 'Edit' %>" />
    </div>
  </form>
