<h1>All items</h1>

<div class="row">
  <p>There are <%= items.length %> items.</p>
  <div class="col-2"></div>
  <div class="col-8">
    <div class="row">
        <% items.forEach(item => { %>
        <div class="card">
          <div class="card-context">
            <div id="item-<% item.id %>" class="row">
              <div class="col-6">
                <h4 class="card-header"><%= item.model %></h4>
              </div>
              <div class="col-2"></div>
              <div class="col-3">
                <span class="badge primary"><%= item.brand %></span>
              </div>
            </div>
            <div class="card-content">
              <h5>Features</h5>
              Current state: <%= item.state %> <br/>
              Screen size: <%= item.screenSize %> <br/>
              Category: <%= item.category %>
              <hr />
              Others: <%= item.aditional %>
            </div>
            <div class="card-footer">
                <ul>
                  <li class="button"><a href="<%= getPublicationPath(item.publication_id) %>">See publication</a></li>
                  <li class="button"><a href="<%= getShowPath(item) %>">See item</a></li>
                  <!--
                  <li class="button"><a href="<%= getEditPath(item) %>">Edit</a></li>
                  <li class="button">
                    <form class="form-button" action="<%= getDestroyPath(item) %>" method="post">
                      <input type="hidden" name="_method" value="delete" />
                      <input type="submit" value="Delete" />
                    </form>
                  </li>
                  -->
                </ul>
            </div>
          </div>
        </div>
        <% }) %>  
    </div>
  </div>
  <div class="col-2"></div>
</div>
