<h2>Add details about your item</h2>
<div class="center">
  <label for=model>
    <span>Model of the item</span>
    <input class="form-centered" type="text" name="model" id="model" value="<%= item.model %>" placeholder="e.g., Iphone 6"/>
  </label>
</div>
<div class="center">
  <label for="brand">
    <span>Brand</span>
    <input class="form-centered" type="text" name="brand" id="brand" value="<%= item.brand %>" placeholder="e.g., Apple"/>
  </label>
</div>
<div class="center">
  <label for="screenSize">
    <span>Screen size (inches)</span>
    <input class="form-centered" type="number" step="0.1" name="screenSize" id="screenSize" value="<%= item.screenSize %>"/>
  </label>
</div>
<div class="center">
  <label for="category">
    <span>Choose a category for your item</span>
    <select class="form-centered" name="category" id="category" value="<%= item.category %>">
      <option value="Cellphone">Cellphone</option>
      <option value="Smartwatch">Smartwatch</option>
      <option value="Video Game Console">Video Game Console</option>
      <option value="Music Player">Music Player</option>
      <option value="Gadget">Gadget</option>
    </select>
  </label>
</div>
<div class="center">
  <label for="state">
    <span>In what state is your item?</span>
    <input class="form-centered" type="text" name="item_state" id="item_state" value="<%= item.state %>" placeholder="e.g., Brand new, 2 years old"/>
  </label>
</div>
<div class="center">
  <label for="aditional">
    <span>Is there any other information you may want to add about it?</span>
    <input class="form-centered" type="text" name="aditional" id="aditional" value="<%= item.aditional %>" placeholder="e.g., Does not include charger"/>
  </label>
</div>
<div class="center">
  <label for="image">
    <span>Finally, post an image of your item for people to see it</span>
    <input type="file" name="image" id="image" value="<%= item.image %>" />
  </label>
</div>