<div id="react-main" data-publications="<%= JSON.stringify(publications) %>" data-userNames="<%=JSON.stringify(users_names)%>" data-itemsIds="<%=JSON.stringify(items_ids)%>">
    <div class="pcard">
        <% publications.forEach((publication) => { %>
          <a class="box" href="<%= getShowPath(publication) %>" style="text-decoration:none;">
            <h4><%= publication.title %></h4>
            <img class="imgcard" src="<%= getItemImagePath(items_ids[publication.id]) %>" alt="Photo of the item"/>
            <p style="text-align: justify;"><%= publication.description %></p><br>
            <span style="font-weight: bold;">State:</span> <%= publication.state %> <br>
            <span style="font-weight: bold;">Added by:</span> <%= users_names[publication.id] %> <br>
          </a>
          <% }) %>
    </div>
</div>
