<h1>All publications</h1>

<p>There are <%= publications.length %> publications.</p>
<p>
  <a href="<%= newpublicationPath %>">Create new publication</a>
</p>
<div class="container">
  <div class="row card-group">
    <% publications.forEach(publication => { %>
    <div class="col-4">
      <div class="card">
        <div class="card-contex">
            <img class="card-image" src="<%= assetPath('example.svg') %>" alt=""/>
            <h4 class="card-header"><%= publication.title %></h4>
            <div class="card-content">
              <%= publication.description %>>
            </div>
            <div class="card-footer">
              <p>
                <span>State:</span> <%= publication.state %> <br>
                <span>Added by:</span> <%= publication.userID %>
              </p>
              <ul>
                <li><a class="button" href="<%= getShowPath(publication) %>">See publication</a></li>
                <% if(publication.userID == currentUser.id) { %>
                <li><a class="button" href="<%= getEditPath(publication) %>">Edit</a></li>
                <li>
                  <form class="form-button" action="<%= getDestroyPath(publication) %>" method="post">
                    <input type="hidden" name="_method" value="delete" />
                    <input type="submit" value="Delete" />
                  </form>
                </li>
                <% } %>
              </ul>
            </div>
        </div>
      </div>
    </div>
    <% }) %>
  </div>
</div>
