<div class="products">
  <div class="pcard_show">
    <a class="box_show_1" href="<%= userPath(user) %>" style="text-decoration:none;">
      <h1><%= publication.title %></h1>
      <h2>State: <%= publication.state %></h2>
      <%= publication.description %> <br>
      <h4> Uploaded by <%=user.name%></h4>
      <img class="imgcard_publi_user rounded" src="<%= getUserImagePath(user) %>" alt="avatar"/>
      <h4>Information</h4>
      Phone: <%=user.phone%> <br>
      E-mail: <%=user.email%> <br> <br>
      <% if (publication.userID === currentUser.id) { %>
        <button class="button-publi" onclick="window.location.href='<%= editPublicationPath(publication) %>'">Edit publication</button>
        <form class="form-button-publi" action="<%=showRequestsPath(publication)%>">
          <input type="submit" value="See all offers" />
        </form>
      <% } else if (publication.state == 'gift' || publication.state == 'exchange'){ %>
        <form class="form-button-publi" action="<%=createRequestPath(publication)%>">
          <input type="submit" value="Create a new offer" />
        </form>
      <% } %>
    </a>
    <div class="box_show_2">
      <img class="imgcard_publi" src="<%= getItemImagePath(item) %>" alt="Photo of the item"/>
      <h2><%= item.model %></h2>
      <p id="features">
        Brand: <%= item.brand %> <br>
        Screen size: <%= item.screenSize %> inches <br>
        Current state: <%= item.state %> <br>
        Aditional: <%= item.aditional %><br>
        Category: <%= item.category %> <br>
      </p>
      <% if (publication.userID === currentUser.id) { %>
        <button class="button-publi" onclick="window.location.href='<%= editItemPath(item) %>'">Edit item</button>
      <% } %>
    </div>
  </div>
  <% if(requests.length > 0) {%>
  <div class="pcard">
    <% requests.forEach((request) => { %>
      <a class="box" href="/" style="text-decoration:none;">
        <h4>Request from <%= users_requests[request.id] %></h4>
        <p><%= request.message %></p> <br/>
      </a>
    <% }) %>
  </div>
  <% } %>
</div>