<div class="products">
  <div class="pcard_show">
    <a class="box_show_1" href="<%= userPath(user) %>" style="text-decoration:none;">
      <div class="header_card">
        <div class="title_header">
          <h2><%= publication.title %></h2>
        </div>
        <div>
          <% if(publication.state == 'exchange') { %>
          <img class="stateimg-show" src="https://storage.googleapis.com/webcitos_images/exchange.png" alt="State"/>
          <% } else if (publication.state == 'gift') {%>
          <img class="stateimg-show" src="https://storage.googleapis.com/webcitos_images/gift.png" alt="State"/>
          <% } else if (publication.state == 'pendent') { %>
          <img class="stateimg-show" src="https://storage.googleapis.com/webcitos_images/sand-clock.png" alt="State"/>
          <% } else { %>
          <img class="stateimg-show" src="https://storage.googleapis.com/webcitos_images/box.png" alt="State"/>
          <% } %>
        </div>
      </div>
      <p><%= publication.description %></p>
      <h4> Uploaded by <%=user.name%></h4>
      <img class="imgcard_publi_user rounded" src="<%= getUserImagePath(user) %>" alt="avatar"/>
      <h4>Contact details</h4>
      Phone: <%=user.phone%> <br>
      E-mail: <%=user.email%> <br> <br>
      <% if (publication.userID === currentUser.id) { %>
        <form class="form-button-publi" action="<%=editPublicationPath(publication)%>">
          <input type="submit" value="Edit publication" />
        </form>
      <% } else if (publication.state == 'gift' || publication.state == 'exchange'){ %>
        <form class="form-button-publi" action="<%=createRequestPath(publication)%>">
          <input type="submit" value="Create a new offer" />
        </form>
      <% } %>
    </a>
    <div class="box_show_2">
      <img class="imgcard_publi" src="<%= getItemImagePath(item) %>" alt="Photo of the item"/>
      <h2><%= item.model %></h2>
      <p id="features">
        Brand: <%= item.brand %> <br>
        Screen size: <%= item.screenSize %> inches <br>
        Current state: <%= item.state %> <br>
        Aditional: <%= item.aditional %><br>
        Category: <%= item.category %> <br>
      </p>
      <% if (publication.userID === currentUser.id) { %>
        <button class="button-publi" onclick="window.location.href='<%= editItemPath(item) %>'">Edit item</button>
      <% } %>
    </div>
  </div>
  <% if(requests.length > 0 && publication.userID === currentUser.id) {%>
  <h2>Offers received</h2>
  <div class="content">
    <div class="row card-group slider">
      <% requests.forEach((request) => { %>
      <% if (publi_requests[request.id]) {%>
      <div class="col-6">
        <div class="card">
            <a href="<%= userPath(users_requests[request.id]) %>">
              <h4 class="card-header">Offer from <%= users_requests[request.id].name %></h4>
            </a>
            <a href="<%= getPubliShowPath(publi_requests[request.id]) %>">
              <div class="card-content">
                <%= request.message %> <br> <br>
                Item offered: <%= items_requests[request.id].model %>
              </div>
            </a>
            <% if (publication.state != 'pendent' && publication.state != 'inventory') {%>
            <div class="card-footer">
              <ul>
                <li>
                  <form class="form-button-publi" action="<%= postNewTradePath(request) %>" method="get">
                    <input type="hidden" name="id_request" value="<%=request.id%>" />
                    <input type="hidden" name="state" value="pendent" />
                    <li><button class="button-publi" type="submit" formmethod="post">Accept offer</button></li>
                  </form>
                </li>
                <li>
                  <form class="form-button-publi" action="<%= getDestroyRequestPath(request) %>" method="post">
                    <input type="hidden" name="_method" value="delete" />
                    <button class="button-publi" type="submit">Delete offer</button>
                  </form>
                </li>
              </ul>
            </div>
            <% } %>
        </div>
      </div>
      <% } else {%>
      <div class="col-6">
        <div class="card">
            <a href="<%= userPath(users_requests[request.id]) %>">
              <h4 class="card-header">Petition from <%= users_requests[request.id].name %></h4>
            </a>
            <div class="card-content">
              <%= request.message %> <br> <br>
            </div>
            <% if (publication.state != 'pendent' && publication.state != 'inventory') {%>
            <div class="card-footer">
              <ul>
                <li>
                  <form class="form-button-publi" action="<%= postNewTradePath(request) %>" method="get">
                    <input type="hidden" name="id_request" value="<%=request.id%>" />
                    <input type="hidden" name="state" value="pendent" />
                    <li><button class="button-publi" type="submit" formmethod="post">Accept offer</button></li>
                  </form>
                </li>
                <li>
                  <form class="form-button-publi" action="<%= getDestroyRequestPath(request) %>" method="post">
                    <input type="hidden" name="_method" value="delete" />
                    <button class="button-publi" type="submit">Delete offer</button>
                  </form>
                </li>
              </ul>
            </div>
            <% } %>
        </div>
      </div>
      <% } %>
      <% }) %>
    </div>
  </div>
  <% } %>
  <% if (trade && trade.state == 'concreted') {%>
  <h2>Trade details</h2>
<div class="row">
  <div class="col-1"></div>
  <div class="col-10">
    <div class="content">
      <div class="row">
        <div class="col-5">
            <div id="emmiter-user" class="card">
              <div class="card-contex">
                <h3 class="card-header"><%= trade.emmiter.name %></h3>
                <div class="card-content">
                  Email: <%= trade.emmiter.email %> <br/>
                  Phone: <%= trade.emmiter.phone %>
                </div>
              </div>
            </div>
            <div id="emmiter-item" class="card">
              <div class="card-contex">
                <h4 class="card-header">Offer</h4>
                <div class="card-content">
                  Brand: <%= trade.emmiter.item.brand %> <br/>
                  Model: <%= trade.emmiter.item.model %> <br/>
                  Category: <%= trade.emmiter.item.category %> <br/>
                  Screen size: <%= trade.emmiter.item.screenSize %>'' <br/>
                  Description<br/>
                  <%= trade.emmiter.item.aditional %>
                </div>
              </div>
            </div>
        </div>

        <div class="col-2">
          <% if(trade.receptor.item !== null) { %>
            <img class="exchange_image" src="https://storage.googleapis.com/webcitos_images/exchange.png" alt="trade"/>
          <% } else { %>
            <img class="exchange_image" src="https://storage.googleapis.com/webcitos_images/logo.svg" alt="trade"/>
            <% } %>
          <% if (!trade.review && currentUser.id == trade.receptor.id) {%>
          <button class="button-publi" onclick="window.location.href='<%= getReviewNewUrl(trade) %>'">Add review </button>
          <% } %>
        </div>

        <div class="col-5">
          <div id="receptor-user" class="card">
            <div class="card-contex">
              <h3 class="card-header"><%= trade.receptor.name %></h3>
              <div class="card-content">
                Email: <%= trade.receptor.email %> <br/>
                Phone: <%= trade.receptor.phone %>
              </div>
            </div>
          </div>
          <% if (trade.receptor.item !== null) { %>
          <div id="receptor-item" class="card">
            <div class="card-contex">
              <h4 class="card-header">Offer</h4>
              <div class="card-content">
                Brand: <%= trade.receptor.item.brand %> <br/>
                Model: <%= trade.receptor.item.model %> <br/>
                Category: <%= trade.receptor.item.category %> <br/>
                Screen size: <%= trade.receptor.item.screenSize %>'' <br/>
                Description<br/>
                <%= trade.receptor.item.aditional %>
              </div>
            </div>
          </div>
          <% } %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-1"></div>
  <% if (trade.review !== null) { %>
  <div class="col-4"></div>
  <div class="col-4">
    <div class="card">
      <div class="card-contex">
        <h4 class="card-header">Review from <%= trade.receptor.name %></h4>
        <div class="card-content">
          Fullfillment offer: <%= trade.review.fullfillment_offer %> stars <br/>
          Quallity offered: <%= trade.review.quality_offered %> stars <br/>
          Puntuality: <%= trade.review.puntuality %> stars <br/>
          <% if (trade.review.content !== '') { %>
          <hr/>
          Extra commentaries: <br/>
          <%= trade.review.content %>
          <% } %>
        </div>
      </div>
    </div>
  </div>
  <% } %>
</div>
  <% } %>
</div>