<h2> Creator: <%= propietary_user.name %> </h2>
<%- include('../layouts/_show') %>
<div class="center">
    <h1> Item </h1>
  <div class="content">
    <% for(let key in item) { %>
        <% if (!ignore.includes(key) ) { %>
          <div class="tag">
            <%= key.replace(/\b[a-z]\B/g, function(letter) {return letter.toUpperCase(); } ); %>: <%= item[key] %>
          </div>
        <% }%>
    <% } %>
    <% if (state.userID === currentUser.id) { %>
      <form class="form-button" action="<%=showRequestsPath(state)%>">
        <input type="submit" value="See all offers" />
      </form>
    <% } else { %>
      <form class="form-button" action="<%=createRequestPath(state)%>">
        <input type="submit" value="Create a new offer!" />
      </form>
    <% } %>
  </div>
  
</div>
