<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>TradeAway</title>
    <% if (env !== 'development') { %>
      <link rel="stylesheet" href="<%= assetPath('app.css') %>">
    <% } %>
    <link rel="icon" href="<%= assetPath('favicon.png') %>">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
  </head>

  <body>
    <!--logo
    <div class="logo-container top" id="home">
      <a href="/" class="logo">
        Trade<span class="Music">Away</span>
      </a>
    </div>
    -->
    <!--topbar-->
    <ul class="topbar">
      <li class="logo-navbar"><a class="logo-a" href="/" title="TradeAway App"></a></li>
      <li><a href="/publications">Publications</a></li>
      <% if (locals.currentUser) { %>
        <!--searh-bar
        <li id="react-search">
          <form id="search" class="form-inline" action="<%= searchPath  %>" method="get">
            <input type="text" id="query" name="query" placeholder="Publications... "/>
            <button class="icon-container" type="submit"><i class="fas fa-search"></i></button>
          </form>
        </li>
        -->
      <li><a href="/items">Items</a></li>

      <li class="functional">
        <form class="form-button" action="<%= destroySessionPath %>" method="post">
          <input type="hidden" name="_method" value="delete" />
          <input type="submit" value="Log out" />
        </form>
      </li>

      <li class="functional"><a href="<%= newPublicationPath %>"> New publication </a></li>
      <li class="functional"><a href="/users/<%=currentUser.id%>">Profile</a></li>
      <% } else { %>
      <li class="functional"><a href="<%= newSessionPath %>">Sign in</a></li>
      <li class="functional"><a href="/users/new">Sign up</a></li>
      <% } %>
    </ul>
    <!--sidebar-->
    <div id="right-arrow" class="circle" onclick="openNav()" style="top:50%">
      <span class="center arrow">
        <i class="arrowr"></i>
      </span>
    </div>

    <div class="sidenav" id="lateral-menu">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">
        &times;
      </a>
      <a class="side" href="../index.html">Home</a>
    </div>
    <% if (notice = flashMessage.notice) { %>
      <div class="alert_notice" >
        <div class="alert_i">
          <img class="infoimg" src="https://storage.googleapis.com/webcitos_images/information.png"/>
        </div>
        <div>
          <p><%= notice %></p>
        </div>
        <i class="far fa-times-circle"></i>
      </div>
    <% } %>
    <%- body %>
    <script src="<%= assetPath('app.js') %>"></script>
  </body>

</html>
