<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>IIC2513 - WebCitos</title>
    <% if (env !== 'development') { %>
      <link rel="stylesheet" href="<%= assetPath('app.css') %>">
    <% } %>
    <link rel="stylesheet" href="<%= assetPath('fardust.css') %>">
  </head>

  <body>
    <!--logo-->
    <div class="container top" id="home">
      <a href="/" class="logo">
        Web<span class="Music">Citos</span>
      </a>
    </div>
    <!--topbar-->
    <ul class="topbar">
      <li>
        <span id="side-open" onclick="openNav()">
          <img class="side-menu center" src="<%= assetPath('side.png') %>" >
        </span>
      </li>
      <li><a href="/">Home</a></li>
      <% if (locals.currentUser) { %>
      <li><a href="/users">Users</a></li>
      <li><a href="/publications">Publications</a></li>
      <li><a href="/requests">Requests</a></li>
      <li><a href="/items">Items</a></li>
      <li><a href="/reviews">Reviews</a></li>
      <li><a href="/trades">Trades</a></li>
      <li class="functional">
        <form class="form-button" action="<%= destroySessionPath %>" method="post">
          <input type="hidden" name="_method" value="delete" />
          <input type="submit" value="Log out" />
        </form>
      </li>
      <li class="functional">
        <form id="search" class="form-inline" action="<%=  %>" method="get">
          <input type="text" id="query" name="query" placeholder="Search"/>
          <input type="submit" value="" />
        </form>
      </li>
      <% } else { %>
      <li class="functional"><a href="<%= newSessionPath %>">Sign in</a></li>
      <li class="functional"><a href="/users/new">Sign up</a></li>
      <% } %>
    </ul>
    <!--sidebar-->
    <div id="right-arrow" class="circle" onclick="openNav()" style="top:50%">
      <span class="center arrow">
        <i class="arrowr"></i>
      </span>
    </div>

    <div class="sidenav" id="lateral-menu">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">
        &times;
      </a>
      <a class="side" href="../index.html">Home</a>
    </div>
    <% if (notice = flashMessage.notice) { %>
      <div><%= notice %></div>
    <% } %>
    <%- body %>
    <script src="<%= assetPath('app.js') %>"></script>
  </body>

</html>
