<div class="center">
    <form action="<%= submitPath %>" method="post">
      <% if (locals.errors) { %>
        <p class="errors">You must correct the following errors to continue:</p>
        <ul>
          <% Object.keys(errors).forEach(prop => { %>
            <li><%= prop %>: <%= errors[prop].message %></li>
          <% }) %>
        </ul>
      <% } %>
      <% if (!request.isNewRecord) { %>
        <input type="hidden" name="_method" value="patch" />
      <% } %>
      <label for="message">
        <span>message</span>
        <input type="text" name="message" id="message" value="<%= request.message %>" />
        <% if (locals.errors && errors.name) { %>
         <span class="error"><%= errors.message.message %></span>
        <% } %>
      </label>
      <% if (request.isNewRecord) { %>
        <input type="hidden" name="_method" value="patch" />
      <label for="publication_id">
        <span>PublicationID</span>
         <input type="publication_id" name="publication_id" id="publication_id" value="<%= request.publication_id %>" />
         <% if (locals.errors && errors.publication_id) { %>
         <span class="error"><%= errors.publication_id.message %></span>
        <% } %>
      </label>

      <label for="userID">
        <span>UserID</span>
        <input type="userID" name="userID" id="userID" />
        <% if (locals.errors && errors.userID) { %>
         <span class="error"><%= errors.userID.message %></span>
        <% } %>
      </label>
      <% } %>
      <div class="userID">
        <input type="submit" value="<%= request.isNewRecord ? 'Create' : 'Edit' %>" />
      </div>
    </form>
</div>
