  <form class="crud" action="<%= submitPath %>" method="post">
      <% if (locals.errors) { %>
        <p class="errors">You must correct the following errors to continue:</p>
        <ul>
          <% Object.keys(errors).forEach(prop => { %>
            <li><%= prop %>: <%= errors[prop].message %></li>
          <% }) %>
        </ul>
      <% } %>
      <% if (!request.isNewRecord) { %>
        <input type="hidden" name="_method" value="patch" />
      <% } %>
    <div class="center">
      <label for="message">
        <span>Message</span>
        <input class="form-centered" type="text" name="message" id="message" value="<%= request.message %>" />
        <% if (locals.errors && errors.name) { %>
         <span class="error"><%= errors.message.message %></span>
        <% } %>
      </label>
      <% if (publication_state !== "gift") { %>
        <label for="item">
          <span>Select one of your publications: </span>
          <select name="item_offered_id" id="item_offered_id">
            <% user_items.forEach(item => { %>
              <option value="<%=item.id%>"><%=item.model%></option>
            <% }); %>
          </select>
        </label>
      <%}%>
      <% console.log(user_items) %>

    </div>
    <% if (request.isNewRecord) { %>
      <input class="form-centered" type="hidden" name="publication_id" id="publication_id" value="<%=publication_id%>" />
      <input class="form-centered" type="hidden" name="userID" id="userID" value="<%=user_id%>" />
      <% } %>
      <div class="actions center">
        <input class="form-centered" type="submit" value="<%= request.isNewRecord ? 'Create' : 'Edit' %>" />
      </div>
    </form>
</div>
