<% if (publication_title) { %>
  <h1>Requests of <%= publication_title %></h1>
<% }else { %>
  <h1>All your requests </h1>
<% } %>

<% if (requests.length > 0) { %>
<table>
  <thead>
    <tr>
      <th>Message</th>
      <th>User</th>
      <th>Publication</th>
      <th>Item Offered</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% requests.forEach(request => { %>
      <tr>
        <td><%= request["request"].message %></td>
        <td><a href="<%= getShowUserPath(request['user']) %>" > <%= request["user"].name %></a></td>
        <% if (request['publication']) {%>
          <td><a href="<%= getShowPublicationPath(request['publication']) %>"> <%= request["publication"].title %> </a></td>
          <td><%= request["item"].model %></td>
        <%} else {%>
          <td></td>
          <td></td>
        <%}%>
        <td>
          <ul>
            <% if (request['request'].userID !== currentUser.id) {%>
              <form class= "form-inline" action="<%= postNewTradePath(request['request']) %>" method="get">
                <input type="hidden" name="id_request" value="<%=request['request'].id%>" />
                <input type="hidden" name="state" value="pendent" />
                <li><button <%=publication_state==='pendent'?disabled=true:enabled=true%> class="button primary" type="submit" formmethod="post">Accept offer</button></li>
              </form>
            <%}%>
            <% if (!request['trade']) { %>
            <li>
              <form class="form-inline" action="<%= getDestroyPath(request['request']) %>" method="post">
                <input type="hidden" name="_method" value="delete" />
                <button class="button primary" type="submit">Delete</button>
              </form>
            </li>
            <% } %>
          </ul>
        </td>
      </tr>
    <% }) %>
  </tbody>
</table>
<% } %>
