<% if (publication_title) { %>
  <h1>Requests of <%=publication_title%></h1>
<%}else {%>
  <h1>All your requests </h1>
<%}%>

<p>There are <%= requests.length %> requests.</p>

<table>
  <thead>
    <tr>
      <th>Message</th>
      <th>User Emitter ID</th>
      <th>Publication ID</th>
      <th>Item Offered ID </th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% requests.forEach(request => { %>
      <tr>
        <td><%= request.message %></td>
        <td><%= request.userID %></td>
        <td><%= request.publication_id %></td>
        <td><%= request.item_offered_id %></td>
        <td>
          <ul>
            <li><a href="<%= getShowPath(request) %>">Show</a></li>
            <% if (request.userID !== currentUser.id) {%>
              <form action="<%= postNewTradePath(request) %>" method="get">
                <input type="hidden" name="id_request" value="<%=request.id%>" />
                <input type="hidden" name="state" value="pendent" />
                <li><button disabled="<%=publication_state==='pendent'?true:false%>" class="button primary" type="submit" formmethod="post">Accept offer</button></li>
              </form>
            <%}%>
            <li>
              <form action="<%= getDestroyPath(request) %>" method="post">
                <input type="hidden" name="_method" value="delete" />
                <button class="button primary" type="submit">Delete</button>
              </form>
            </li>
          </ul>
        </td>
      </tr>
    <% }) %>
  </tbody>
</table>
