<form action="<%= submitPath %>" method="post">
    <% if (locals.errors) { %>
      <p class="errors">You must correct the following errors to continue:</p>
      <ul>
        <% Object.keys(errors).forEach(prop => { %>
          <li><%= prop %>: <%= errors[prop].message %></li>
        <% }) %>
      </ul>
    <% } %>
    <% if (!user.isNewRecord) { %>
      <input type="hidden" name="_method" value="patch" />
    <% } %>
  <div class="center">
    <label for="name">
      <span>Name</span>
      <input class="form-centered" type="text" name="name" id="name" value="<%= user.name %>" />
      <% if (locals.errors && errors.name) { %>
       <span class="error"><%= errors.name.message %></span>
      <% } %>
    </label>
  </div>
  <div class="center">
    <label for="email">
      <span>E-mail</span>
       <input class="form-centered" type="email" name="email" id="email" value="<%= user.email %>" />
       <% if (locals.errors && errors.email) { %>
       <span class="error"><%= errors.email.message %></span>
      <% } %>
    </label>
  </div>
  <div class="center">
    <label for="phone">
      <span>Phone number</span>
      <input class="form-centered" type="number" name="phone" id="phone" value="<%= user.phone %>"/>
    </label>
  </div>
  <div class="center">
    <label for="password">
      <span>Password</span>
      <input class="form-centered" type="password" name="password" id="password" />
      <% if (locals.errors && errors.password) { %>
       <span class="error"><%= errors.password.message %></span>
      <% } %>
    </label>
  </div>
  <div class="actions center">
      <input class="form-centered" type="submit" value="<%= user.isNewRecord ? 'Create' : 'Edit' %>" />
  </div>
</form>
