<h1>All users</h1>

<p>There are <%= users.length %> users.</p>
<p>
  <a href="<%= newUserPath %>">Create new user</a>
</p>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>E-mail</th>
      <th>Phone number</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% users.forEach(user => { %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.phone %></td>
        <td>
          <ul>
            <li><a href="<%= getShowPath(user) %>">Show</a></li>

            <li><a href="<%= getEditPath(user) %>">Edit</a></li>
            <li>
              <form action="<%= getDestroyPath(user) %>" method="post">
                <input type="hidden" name="_method" value="delete" />
                <input type="submit" value="Delete" />
              </form>
            </li>
          </ul>
        </td>
      </tr>
    <% }) %>
  </tbody>
</table>