<h1>All users</h1>

<p>There are <%= users.length %> users.</p>
<p>
  <a href="<%= newUserPath %>">Create new user</a>
</p>

<div class="row">
  <% users.forEach(user => { %>
  <div class="col-4">
    <div class="card">
      <div class="card-context">
        <h4 class="card-header"><%= user.name %></h4>
        <div class="card-content">
          <p>
            E-mail: <%= user.email %> <br/>
            Phone number: <%= user.phone %>
          </p>
        </div>
        <div class="card-footer">
          <ul>
            <li class="button"><a href="<%= getShowPath(user) %>">Show</a></li>

            <li class="button"><a href="<%= getEditPath(user) %>">Edit</a></li>
            <li>
              <form class="form-button" action="<%= getDestroyPath(user) %>" method="post">
                <input type="hidden" name="_method" value="delete" />
                <input class="button" type="submit" value="Delete" />
              </form>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <% }); %>
</div>