<div class="row">
    <div id="user-profile" class="col-5">
    <div class="card">
      <img class="card-image header" src="<%= getUserImagePath(user_id) %>" alt="avatar"/>
      <div class="card-context">
        <div class="card-content">
          <div class="infotag">
            <h2>Information</h2>
          </div>
          <div class="content">
            <div class="infotag">
              Rating:
            </div>
            <div class="infotag">
              Phone: <%=state.phone%>
            </div>
            <div class="infotag">
              E-Mail: <%=state.email%>
            </div>
            <% if (currentUser.id == user_id){ %>
            <button class="button primary" onclick="window.location.href='<%= userEditPath(currentUser.id) %>'">Edit my profile</button>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="right" class="col-7">

    <div class="user-context">
      <h1> Publications </h1>
      <div class="content">
        <% if (state.id === currentUser.id) { %>
          <button class="button primary" onclick="window.location.href='<%=newPublicationPath%>'">Create a new publication</button>
          <button class="button primary" onclick="window.location.href='<%-showMineTradesPath%>'">See my trades</button>
        <% } %>


        <div class="row card-group slider">
          <% publications.forEach(publication => { %>
          <div class="col-6">
            <div class="card">
              <div class="card-contex">
              <a href="<%-showPublicationPath(publication)%>">
                <h4 class="card-header"><%= publication.title %></h4>
                <div class="card-content">
                    <%= publication.description %>
                </div>
                <div class="card-footer">
                  <div class="row">
                    <div class="col-4">
                        <p>
                          <span>State:</span> <%= publication.state %>
                        </p>
                    </div>
              </a>
                    <div class="col-8">
                        <% if (state.id === currentUser.id) { %>
                          <ul>
                          <% if (publication.state !== 'pendent') { %>
                            <li>
                              <button class="button primary" onclick="window.location.href='<%-showRequestsPath(publication)%>'"><%= publication.state=='gift' ? 'See petitions' : 'See offers' %></button>
                            </li>
                            <%}%>
                            <li>
                              <form class="form-inline" action="<%= getDestroyPublicationPath(publication) %>" method="post">
                                <input type="hidden" name="_method" value="delete" />
                                <button  class="button primary" type="submit">Delete</button>
                              </form>
                            </li>
                          </ul>
                        <% } %>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <% }) %>
        </div>
      </div>
    </div>
    <% if (inventory.length > 0) { %>
    <div class="user-context">
      <h1>Inventory</h1>
      <div class="content">
        <div class="row card-group slider">
          <% inventory.forEach(inventorie => { %>
          <div class="col-6">
            <div class="card">
              <div class="card-contex">
              <a href="<%-showPublicationPath(inventorie)%>">
                <h4 class="card-header"><%= inventorie.title %></h4>
                <div class="card-content">
                    <%= inventorie.description %>
                </div>
                <div class="card-footer">
                  <div class="row">
                    <div class="col-4">
                        <p>
                          <span>State:</span> <%= inventorie.state %>
                        </p>
                    </div>
              </a>
                    <div class="col-8">
                        <% if (state.id === currentUser.id) { %>
                          <ul>
                            <li>
                              <button class="button primary" onclick="window.location.href='<%-showRequestsPath(inventorie)%>'"><%= inventorie.state=='gift' ? 'See petitions' : 'See offers' %></button>
                            </li>
                            <li>
                              <form class="form-inline" action="<%= getDestroyPublicationPath(inventorie) %>" method="post">
                                <input type="hidden" name="_method" value="delete" />
                                <button  class="button primary" type="submit">Delete</button>
                              </form>
                            </li>
                          </ul>
                        <% } %>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <% }) %>
        </div>
      </div>
    </div>

    <%}%>

    <div class="user-context">
      <h1>Active Trades</h1>
      <div class="content">
        <div class="row card-group slider">
          <div class="col-6">
            <div class="card">

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="user-context">
      <h1>Last Offers</h1>
      <div class="content">
        <div class="row card-group slider">
          <% offered_requests.forEach(ureq => { %>
          <div class="col-6">
            <div class="card">
              <h4 class="card-header">Offer from <a href="<%=showUserPath(ureq['req_user'])%>"><%= ureq['req_user'].name %></h4>
              <a href="<%=showPublicationPath(ureq['pub_offered'])%>">
              <div class="card-content">
                <%= ureq['request'].message %>
              </div>
              </a>
              <div class="card-footer">
                <ul>
                  <li>
                    <form class= "form-inline" action="<%= postNewTradePath(ureq['request']) %>" method="get">
                      <input type="hidden" name="id_request" value="<%=ureq['request'].id%>" />
                      <input type="hidden" name="state" value="pendent" />
                      <li><button <%=ureq['pub_offered'].state==='pendent'?disabled=true:enabled=true%> class="button primary" type="submit" formmethod="post">Accept offer</button></li>
                    </form>
                  </li>
                  <li>
                    <form class="form-inline" action="<%= getDestroyRequestPath(ureq['request']) %>" method="post">
                      <input type="hidden" name="_method" value="delete" />
                      <button class="button primary" type="submit">Delete</button>
                    </form>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <%})%>
        </div>

      </div>
    </div>

    <div class="user-context">
      <h1>Your Last Offers</h1>
      <button class="button primary" onclick="window.location.href='<%-showMineRequestsPath%>'">See all my offers</button>
      <div class="content">
        <div class="row card-group slider">
          <% publications.forEach(ureq => { %>
          <div class="col-6">
            <div class="card">
            <h4 class="card-header"><%= ureq.title %></h4>

            </div>
          </div>
          <%})%>
        </div>

      </div>
    </div>

  </div>



</div>
