<%- include('../layouts/_show') %>
<div class="center">
  <h1> Publicaciones </h1>
  <div class="content">

    <p>You've <%= publications.length %> publications.</p>
    <% if (state.id === currentUser.id) { %>
      <form class="form-button" action="<%=newPublicationPath%>">
        <input type="submit" value="Create a new publication!" />
      </form>
    <% } %>

    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>State</th>
          <% if (state.id === currentUser.id) { %>
            <th>Requests</th>
          <% } %>
        </tr>
      </thead>
      <tbody>
        <% publications.forEach(publication => { %>
          <tr>
            <td><a href="<%-showPublicationPath(publication)%>"><%= publication.title %></td>
            <td><%= publication.description %></td>
            <td><%= publication.state %></td>
            <% if (state.id === currentUser.id) { %>
              <td><a href="<%-showRequestsPath(publication)%>"> see requests </td>
            <% } %>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</div>
