<div class="row">
    <div id="user-profile" class="col-5">
    <div class="card">
      <% if (currentUser.id == user_id){ %>
        <h1>Hi <%=currentUser.name%>!</h1>
      <% } else { %>
        <h1>Hi! I am <%=state.name%></h1>
      <% } %>
      <img class="card-image header" src="<%= assetPath('avatar.svg') %>" alt="avatar">
      <div class="card-context">
        <div class="card-content">
          <div class="infotag">
            <h2>Information</h2>
          </div>
          <div class="content">
            <div class="infotag">
              Rating:
            </div>
            <div class="infotag">
              Phone: <%=state.phone%>
            </div>
            <div class="infotag">
              E-Mail: <%=state.email%>
            </div>
            <% if (currentUser.id == user_id){ %>
            <button class="button primary" onclick="window.location.href='<%= userEditPath(currentUser.id) %>'">Edit my profile</button>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="right" class="col-7">

    <div class="Publications">
      <h1> Publications </h1>
      <div class="content">

        <p>You have <%= publications.length %> publications.</p>
        <% if (state.id === currentUser.id) { %>
          <button class="button primary" onclick="window.location.href='<%=newPublicationPath%>'">Create a new publication</button>
          <button class="button primary" onclick="window.location.href='<%-showMineRequestsPath%>'">See my offers</button>
          <button class="button primary" onclick="window.location.href='<%-showMineTradesPath%>'">See my trades</button>
        <% } %>


        <div class="row card-group slider">
          <% publications.forEach(publication => { %>
          <div class="col-6">
            <div class="card">
              <div class="card-contex">
              <a href="<%-showPublicationPath(publication)%>">
                <h4 class="card-header"><%= publication.title %></h4>
                <div class="card-content">
                    <%= publication.description %>
                </div>
                <div class="card-footer">
                  <div class="row">
                    <div class="col-4">
                        <p>
                          <span>State:</span> <%= publication.state %>
                        </p>
                    </div>
              </a>
                    <div class="col-8">
                        <% if (state.id === currentUser.id) { %>
                          <ul>
                            <li>
                              <button class="button primary" onclick="window.location.href='<%-showRequestsPath(publication)%>'"><%= publication.state=='gift' ? 'See petitions' : 'See offers' %></button>
                            </li>
                            <li>
                              <form class="form-inline" action="<%= getDestroyPublicationPath(publication) %>" method="post">
                                <input type="hidden" name="_method" value="delete" />
                                <button  class="button primary" type="submit">Delete</button>
                              </form>
                            </li>
                          </ul>
                        <% } %>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <% }) %>
        </div>
      </div>
    </div>

  </div>



</div>
