

<% if (trades.length == 0) { %>
<p>You don't have any trades yet.</p>
<% } %>

<% if (trades.length > 0) { %>
<div class="row" style="color: #2c3e50">
  <h1>Trades history</h1>
  <% trades.forEach(trade => { %>
  <div class="col-3">
    <div class="card">
      <div class="card-context">
          <h4 class="card-header"> Trade for <%= trade.publication.title %></h4>
          <div class="card-content">
            Current state: <%= trade.state %> <br>
            <% if (trade.id_request !== null ) { %>
              Assigned request:
              <a href="<%= requestsUrl + trade.id_request.toString() %>">
                <% if (trade.receptor.item ) { %>
                  <%= trade.receptor.item.model %>
                <% } else { %>
                  See request
                <% } %>
              </a>
            <% } %>
          </div>
          <div class="card-footer">
            <!-- Buttons here! -->
            <button class="button primary" onclick="window.location.href='<%= tradesUrl + trade.id.toString() %>'">
              See trade
            </button>
            <% let edit_string = '/edit' %>
            <% if (trade.state == 'pendent' && trade.receptor.id == currentUser.id) { %>
              <button class="button primary" onclick="window.location.href='<%= tradesUrl + trade.id.toString() + edit_string %>'">
                Finish trade
              </button>
            <% } else if (trade.state == 'concreted' && reviews[trade.id]) { %>
              <button class="button primary" onclick="window.location.href='<%= tradesUrl + trade.id.toString() %>'">
                See review
              </button>
            <% } else if (trade.state == 'concreted' && trade.receptor.id === currentUser.id) { %>
                <button class="button primary" onclick="window.location.href='<%= reviewNewUrl + trade.id.toString() %>'">
                  Add review
                </button>
            <% } %>
          </div>
      </div>
    </div>
  </div>
  <% }) %>
</div>
<% } %>
