<h1>Your trades</h1>

<p>You have <%= trades.length %> trades.</p>

<% if (trades.length > 0) { %>

<div class="row">
  <% trades.forEach(trade => { %>
  <div class="col-3">
    <div class="card">
      <div class="card-context">
          <h4 class="card-header"> Trade <%= trade.id %></h4>
          <div class="card-content">
            Current state: <%= trade.state %> <br>
            <% if (trade.id_request !== null ) { %>
              Assigned request: 
              <a href="<%= requestsUrl + trade.id_request.toString() %>">
                Request <%= trade.id_request %>
              </a>
            <% } %>
          </div>
          <div class="card-footer">
            <!-- Buttons here! -->
            <button class="button primary" onclick="window.location.href='<%= tradesUrl + trade.id.toString() %>'">
              See trade
            </button>
            <% if (trade.state == 'not_concreted') { %>
            <% let edit_string = '/edit' %>
            <button class="button primary" onclick="window.location.href='<%= tradesUrl + trade.id.toString() + edit_string %>'">
              Concrete trade
            </button>
            <% } else { %>
            <button class="button primary" onclick="window.location.href='<%= reviewNewUrl + trade.id.toString() %>'">
              Add review
            </button>
            <% } %>
          </div>
      </div>
    </div>
  </div>
  <% }) %>
</div>

<% } %>